
@media screen and (max-width: 768px) {
    .item-wrapper{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
    }
    .item{
        width: 40%;
    }
}
@media screen and (max-width: 1024px) {
    main{
        width: 80%;
    }
}