*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    width: 100%;
    font-size: 40.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    width: 100%;
}


.logo{
    font-size: 24px;
    font-weight: 700;
    margin-left: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo a{
    text-decoration: none;
    color:white;
}
.menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background:#309ec0;
    max-height: 90px;
    margin-top: -01%;
    
}
.menu-nav ul{
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 45%;
    padding: 10px 20px;
}

.nav-item{
    list-style-type: none;
    font-size: 1.3rem;
    display: block;
    flex: content;
    font-size: 14px;
    font-weight: bold;
    
}

.nav-item a{
    text-decoration: none;
    color: white;
}




.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
   
}

.profile{
   
   width: 220px;
   height: 230px;
   border-radius: 80%;

}


.card p {
    font-size: 18px;
    color: #186c8d;
    text-align:center;
    margin-top: 0;
    width: 30%;
    line-height: 20px;
    margin-bottom: 0%;
    font-family:Arial, Helvetica, sans-serif;
}
.card h1{
    color:#186c8d;
    font-size: 44px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}



.content{
    background-color: #186c8d;
    display: flex;
    justify-content: space-between;
    font-size: medium;
    padding: 5%;
    align-items: center;
    margin-top: 10px;
    color:white;
    font-size: 14px;
    margin-left: 0%;
    
}


.bold{ color: aliceblue;font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bold2{
    max-width: 570px;
    font-size: 18px;
    padding: 5%;
    

}

.bold3{color: aliceblue;font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

}
h2{
    font-size: 30px;
    margin-left: 7.6ex;
    margin-top: 100px;
    margin-bottom: 80px;
    color: #186c8d;
}


.item-wrapper{
    display: flex;
    justify-content: space-between;   
    align-items: center;
   padding: 10px 80px;
  text-align:center;
 
  
}
.item {
    
    background-color: rgb(2, 45, 51);
    border-left: 50px;
    border-radius: 10px;
    font-size: 16px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    color: white ;
    text-align: center;
   padding: 30px 30px;    
  
}

.h3{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.footer{
     font-size: 20px;
     font-weight: bold;
     text-align: center;
     margin-top: 120px;
     background-color:#186c8d;
    padding: 4%;
     color: white;
    
}

.social{
    color: #309ec0;
    display: flex;
    justify-content: space-between;
    padding: 5px 650px;
    margin-bottom: 1%;
}

 .social a{
     color: #1bbdee;

    }

footer{
    background-color: #186c8d;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 3%;
}
